<% provide(:title, 'All Users') %>
<% provide(:button_text, '編集する') %>

<!--< % if params[:name].present? %>-->
<!--  <h1>検索結果</h1>-->
<!--< % else %>-->
<h1>ユーザー一覧</h1>

<div class="csv_holder">
  <div class="col-md-4 col-md-offset-1">
    <%= form_with(url: import_users_path, method: :post) do |f| %> <!--multipart: trueはform_with内にf.file_fieldがあれば自動適用される-->
      <%= f.file_field :file, accept: '.csv', 'ファイルを選択' %> <!--accept: '.csv'でcsvファイルのみ選択される-->
      <%= f.submit "CSVをインポート" %>
      
      <% if @errors.present? %>
        <% @errors.each do |error| %>
          <% error[:message].each do |msg| %>
            <li><%= "#{error[:row]}" %></li>
    <% end %>
  </div>
</div>

  <%= will_paginate %>
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-condensed table-hover" id="table-users">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></br>
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
              <div classs="panel panel-default">
                <div class="panel-heading">
                  <button type="button" data-toggle="collapse" data-target="#<%= user.id %>" class="btn btn-lg brn-primary">編集</button>
                </div>
                <div id="<%= user.id %>" class="collapse">
                  <div class="panel-body">
                    <% @user =user %>
                    <%= render 'edit_index_form' %>
                  </div>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <%= will_paginate %>
</div>

<!--モーダルウィンドウ表示-->
<!--<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->