<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "◀️", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
        【<%= l(@first_day, format: :middle) %>】時間管理表
        <%= link_to "▶️", user_path(date: @first_day.next_month), class: "btn btn-info" %>
        </td>
      <td>
        指定勤務開始時間<%= format_basic_info(@user.designated_work_start_time) %><br>
        指定勤務終了時間<%= format_basic_info(@user.designated_work_end_time) %>
      </td>
      <td colspan="3"><br>基本時間<%= format_basic_info(@user.basic_work_time) %></td>
      <td><br>月初日:<%= l(@first_day, format: :short) %></td>
    </tr>
    
    <tr>
      <td>所属:<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前:<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.employee_number %></td>
      <td>出勤日数:<%= @worked_sum %>日</td>
      <td>締め:<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<!--申請のお知らせ-->
  <% if @user.superior? %>
    <div>
      <% if @approval_monthly_report > 0 %>
        <span style="color: red">
          <%= link_to "【所属長承認申請のお知らせ】", approval_monthly_report_user_attendances_path(@user), remote: true, class: "approval_message" %>
          <b stlye="margin-bottom: 1px; border: 3px solid red;"><%= @approval_monthly_report %>件の通知があります</b>
        </span>
      <% else %>
        【所属長承認申請のお知らせ】
      <% end %><br>
      <% if @approval_monthly_edit > 0 %> <!--０件以上なら表示しなさい、の意味-->
        <span style="color: red">
          <%= link_to "【勤怠変更申請のお知らせ】", approval_monthly_edit_user_attendances_path(@user), remote: true, class: "approval_message" %>
          <b stlye="margin-bottom: 1px; border: 3px solid red;"><%= @approval_monthly_edit %>件の通知があります</b>
        </span>
      <% else %>
        【勤怠変更申請のお知らせ】
      <% end %><br>
      <% if @overtime_notice > 0 %>
        <span style="color: red">
          <%= link_to "【残業申請のお知らせ】", edit_approval_overtime_user_attendances_path(@user), remote: true, class: "approval_message" %>
          <b stlye="margin-bottom: 1px; border: 3px solid red;"><%= @overtime_notice %>件の通知があります</b>
        </span>
      <% else %>
        【残業申請のお知らせ】
      <% end %>
    </div>
  <% end %>

<!-- 勤怠テーブル情報区分    -->
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>
    
    <!--各種処理区分-->
    <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(@user, date: @first_day), class: "btn btn-primary" %>
    <%= link_to "CSV出力", user_path(@user, date: @first_day, format: :csv), class: "btn btn-primary" %><br>
    <%= link_to "勤怠修正ログ（承認済）", attendance_log_user_attendances_path(@user), remote: true, class: "btn btn-primary" %> <!--モーダル-->
    <tbody>
      <% @attendances.each do |day| %> <!-- @attendances= (@first_day..@last_day). -->
        <tr>
          <td><%= link_to "残業申請", edit_overtime_request_user_attendance_path(@user, day), remote: :true, class: "btn btn-primary" %></td>
          <td><%= l(day.worked_on, format: :short) %></td> <!-- l(day, format: :short -->
          <td class='<%= "wday#{day.worked_on.wday}"%>'><%= $days_of_the_week[day.worked_on.wday] %></td> <!--[day.wday]-->
          <td><%= format_hour(day.started_at) if day.started_at.present? %></td> <!--l(day.started_at, format: :time)-->
          <td><%= format_min(day.started_at) if day.started_at.present? %></td>
          <td>
            <% if (btn_text = attendance_state(day)) && day.started_at.nil? %> <!--<if (Date.current == day.worked_on) && day.started_at.nil? %> -->
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %> <!--< elsif (Date.current == day.worked_on) && day.started_at.present? day.finished_at.nil? %>-->
          </td>
          <td><%= format_hour(day.finished_at) if day.finished_at.present? %></td>
          <td><%= format_min(day.finished_at) if day.finished_at.present? %></td>
          <td>
            <% if (btn_text = attendance_state(day)) && day.started_at.present? & day.finished_at.nil? %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
            <!--< % byebug %>-->
              <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %> <!--# gemのrouindingをinstall,floor_to(15minutesで丸めて表示)-->              
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td> <!--備考-->
          <td><%= format_hour(day.scheduled_end_time) if day.scheduled_end_time.present? %></td>
          <td><%= format_min(day.scheduled_end_time) if day.scheduled_end_time.present? %></td> <!--終了予定時間-->
          <!-- <td><%= overtime_info(day.scheduled_end_time, @user.designated_work_end_time, day.overtime_next_day) if day.scheduled_end_time.present? %></td>    --時間外時間,attendances_helperで計算式-->
          <td>
            <% if day.scheduled_end_time.present? %>
              <% if day.started_at.present? && (day.started_at > @user.designated_work_end_time) %>
                <%= overtime_info(day.scheduled_end_time, day.started_at, day.overtime_next_day) %>
              <% else %>
                <%= overtime_info(day.scheduled_end_time, @user.designated_work_end_time, day.overtime_next_day) %> <!--申請ﾓｰﾀﾞﾙの時間外時間,attendances_helperで時間の定義,-->
              <% end %>
            <% end %>
          </td>
          <td><%= day.overtime_detail %></td>
          <td>
            <% if day.overtime_status == "申請中" %>
              <div><%= day.overtime_confirmation %>に残業申請中</div>
            <% elsif day.overtime_status == "承認" %>
              <div>残業承認済</div>
            <% elsif day.overtime_status == "否認" %>
              <div>残業申請否認</div>
            <% else %>
              <!--<td><%= day.overtime_status %></td>-->
            <% end %>
            <% if day.edit_status == "申請中" %>
              <div><%= day.edit_confirmation %>に残業申請中</div>
            <% elsif day.edit_status == "承認" %>
              <div>勤怠変更承認済</div>
            <% elsif day.edit_status == "否認" %>
              <div>勤怠変更申請否認</div>
            <% else %>
              <!--<td><%= day.edit_status %></td>-->
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合, colspan:横結合-->
      <tr>
        <td></td>
        <td colspan="2"></td>
        <td colspan="6"></td>
        <td clospan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="5"></td>
        <td>
          <!--1ヶ月勤怠所属長承認申請-->
          <% if @monthly_attendance.monthly_status == "申請中" %>
            <%= @monthly_attendance.monthly_confirmation %>へ<%= @monthly_attendance.monthly_status %><br>
          <% elsif @monthly_attendance.monthly_status == "承認" %>
            <%= @monthly_attendance.monthly_confirmation %>から<%= @monthly_attendance.monthly_status %>済<br>
          <% elsif @monthly_attendance.monthly_status == "否認" %>
            <%= @monthly_attendance.monthly_confirmation %>から<%= @monthly_attendance.monthly_status %>済<br>
          <% else %>
            <div>所属長承認　未</div><br>
          <% end %>
          <%= form_with(model: @user, url: attendances_monthly_approval_request_user_path(@user), local: true, method: :patch) do |f| %>
            <%= f.hidden_field :monthly_status, :value => "申請中" %>
            <%= f.hidden_field :worked_on, :value => @first_day %>
            <div><%= f.collection_select :monthly_confirmation, @superiors, :name, :name, {include_blank: true}, { class: "superior_class" } %></div><br>
            <%= f.submit "申請", class: "btn btn-primary btn-block" %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!--モーダルウィンドウ表示-->
<div id="edit-overtime-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div> <!--残業申請-->
<div id="approval-overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div> <!-- 上長が残業申請を承認するモーダル -->
<div id="approval-monthly-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div> <!-- 上長が一か月分の勤怠編集を承認する -->
<div id="approval-monthly-report" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div> <!-- 一か月分の承認 -->
<div id="attendance-log" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>  <!--一か月編集で承認した勤怠ログの表示で、残業とが関係ない-->