<!-- <% provide(:class_text, 'overtime-request') %>
<% provide(:button_text, '残業申請') %> -->

<div class="modal-dialog modal-lg modal-dialog-center modal-dialog-fluid">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>

    <div class="modal-body">
      <%= form_with(model: @attendance, url: update_overtime_request_user_attendance_path(@user, @attendance), local: true, method: :patch) do |f| %>
        <table class="table table-striped table-bordered table-condensed table-hover table-center">
          <thead>
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務処理内容</th>
              <th>指示者確認㊞</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= l(@attendance.worked_on, format: :short) %></td> <!--日付-->
              <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td> <!--曜日-->
              <td><%= f.time_select :scheduled_end_time, minute_step: 15, class: "form_control" %></td> <!--time_select,minute_step15で終了予定時間を15分刻みの表示に固定-->
              <td><%= f.check_box :overtime_next_day, id: "overtime_next_day" %></td> <!--翌日-->
              <td><%= f.text_field :overtime_detail, class: "form_control form-control" %></td> <!--業務処理内容-->
              <td>
                <%= f.collection_select :overtime_confirmation, @superiors, :name, :name, {include_blank: true, selected: ""}, { class: "superior_class form-control" } %> <!--残業申請モーダルの上長の名前-->
              </td>
            </tr>
          </tbody>
        </table>
        <div class="center">
          <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>